# pon-manager default configuration
# Managed via LuCI (luci-app-pon) or `ponctl set ...`.

config pon 'config'
	option enabled '1'
	# hal_backend is selected in /etc/modprobe.d/airoha-pon.conf
	option lo_id ''
	option password ''
	option serial_no ''
	option auth_method 'loid'   # loid | password | sn | hybrid
	option fec '0'              # 0=off, 1=on (XGS-PON FEC)
